<h1>Create a Bookmark</h1>

    <%= simple_form_for [@category, @bookmark] do |f| %>
      <%= f.association :recipe  %>
      <%= f.input :comment, required: true %>
      <%= f.button :submit %>
    <% end %>

    <br>

    <%= link_to 'Home', categories_path, class: 'btn btn-primary' %>
