<%= render 'layouts/jumbatron', title: 'Add a Recipe?', sub_title: 'Create your favourite recipe lists!' %>

<div class="container flex-column">

  <div class="sub-header d-flex justify-content-between align-items-center">
    <h2>Add new Recipe to <%= @category.name %>?</h2>
    <%= link_to 'Back to Homepage', categories_path, class: "ms-auto btn btn-primary"  %>
  </div>

  <%= simple_form_for [@category, @bookmark], html: { class: 'form-new m-2 p-3'} do |f| %>
    <%= f.association :recipe, label_html: { class: 'form-label mb-3' }, input_html: { class: 'form-control mb-3'} %>
    <%= f.input :comment, required: true, label_html: { class: 'form-label mb-3' }, input_html: { class: 'form-control mb-3'} %>
    <%= f.button :submit, class: 'btn btn-primary ms-auto' %>
  <% end %>

</div>
