<h1>Categories#show Page</h1>

<h3>Category: <%= @category.name %></h3>

<%= link_to 'Home', categories_path %> |
<%= link_to "Delete Category", category_path(@category), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<ul>
  <% @category.recipes.each do |recipe| %>

  <li><%= recipe.name %> | <%= link_to "Delete", bookmark_path(recipe.bookmarks.find { |b| b.category_id == @category.id }), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>

  <% end %>
</ul>
